<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="display: flex; flex-direction: column; align-items: center;">
        <ion-img [src]="url" style="width: 275px; height: 200px;"></ion-img>
        <ion-label style="font-weight: bold; margin-bottom: 8px;">Alvin Valenciano</ion-label>
        <ion-label style="font-weight: bold; margin-bottom: 16px;">00000019893 - CL</ion-label>
        <ion-label>Saya mengerjakan UTS Mobile Cross Platform sendirian</ion-label>
        <ion-label>Aplikasi dibangun dengan framework Ionic Angular</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
