<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Product Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header style="display: flex; justify-content: center; align-items: center;">
            <ion-img style="height: 250px; width: 250px;" [src]="product.foto"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <p style="font-size: 16px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
              {{ product.merek }} {{ product.model }}
            </p>
            <p style="font-size: 16px;">
              {{ product.harga | currency: "Rp. " : "symbol" }}
            </p>
            <p style="font-size: 16px;">
              Tersedia: {{ product.stok }}
            </p>
          </ion-card-content>
          <ion-footer *ngIf="product.jenis!=='gpu'" class="ion-padding">
            <p style="margin: 0; font-weight: bold;">Tentang Produk</p>
            <p *ngIf="product.jenis=='cpu'" style="margin-top: 8px;">Jumlah Core : {{ product.core }}</p>
            <p *ngIf="product.jenis=='cpu'" style="margin-top: 4px;">Jumlah Thread : {{ product.thread }}</p>
            <p *ngIf="product.jenis=='cpu'" style="margin-top: 4px;">Base Clock : {{ product.baseclock }} GHz</p>
            <p *ngIf="product.jenis=='cpu'" style="margin-top: 4px;">Boost Clock : {{ product.boostclock }} GHz</p>
            <p *ngIf="product.jenis=='ram'" style="margin-top: 4px;">Speed : {{ product.speed }} MHz</p>
            <p *ngIf="product.jenis=='motherboard'" style="margin-top: 4px;">Chipset : {{ product.chipset }}</p>
            <p *ngIf="product.jenis=='motherboard'" style="margin-top: 4px;">Prosesor : {{ product.prosesor }}</p>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
