<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMultiDelete()">
        <ion-icon *ngIf="!isMultiDelete" name="trash-outline"></ion-icon>
        <ion-icon *ngIf="isMultiDelete" name="checkmark-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToAdd()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list>
          <ion-item-sliding *ngFor="let product of products; let i = index" style="padding-top: 8px;">
            <ion-item (click)="editProduct(product)">
              <ion-thumbnail slot="start">
                <ion-img style="height: 70px; width: 70px; padding: 8px" [src]="product.foto"></ion-img>
              </ion-thumbnail>
              <ion-label style="font-size: 18px" position="stacked">
                {{ product.merek }} {{ product.model }}
              </ion-label>
              <ion-label position="stacked" style="font-size: 18px;">
                {{ product.harga | currency: "Rp. " : "symbol" }}
              </ion-label>
              <ion-label position="stacked" style="font-size: 18px; margin-bottom: 12px">
                Tersedia: {{ product.stok }}
              </ion-label>
              <ion-checkbox *ngIf="isMultiDelete" slot="end" [(ngModel)]="checkBox[i]"></ion-checkbox>
            </ion-item>
            <ion-item-options side="start" (ionSwipe)="presentAlert(product)"></ion-item-options>
            <ion-item-options side="end" (ionSwipe)="editProduct(product)"></ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
